- content_for :header do
  Change my password
- form_for :user, @user, :url => update_password_user_url(@user), :html => {:method => :put} do |f|
  %h3
    Your current password
  %p
    To prevent abuse, please enter your current password.
  %p
    = password_field_tag 'current_password', '', :size => 20
  %h3
    Your new password
  %p
    Please enter your new password (and the confirmation) below.
  %p
    = password_field_tag 'new_password', '', :size => 20
  %p
    = password_field_tag 'new_password_confirmation', '', :size => 20
  %p
    = submit_tag "Change my password"
    or
    = link_to "forget about it", profile_url(@user)