%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      = configatron.site_name
    = stylesheet_link_merged :admin
    = javascript_include_merged :base
  %body
    #header
      #global_links
        = render :partial => 'shared/global_links'
      %h1
        = configatron.site_name
      #tabs
        = render :partial => 'admin/shared/tabs'
    #main
      #left
        = flash_message
        %h2.head
          = yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title"
        #screen
          = yield
      #right
        = yield_or_default(yield(:sidebar))
    #footer
      = configatron.site_name
      by
      = configatron.company_name
      %br
      Copyright ©
      = configatron.company_name
